#slider {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	height: 100%;
	width: 100%;
}

.slides {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide {
	opacity: 0;
	transition-duration: 1s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 30rem;
	cursor: pointer;
	transform: scale(0.9);
}

.slide.active {
	opacity: 1;
	transition: opacity 1s, transform 0.4s;
	width: 34rem;
	transform: scale(1);
}

.slide-image {
	border-radius: 0.6rem;
	height: 80%;
	width: 100%;
}

.chevron {
	cursor: pointer;
	user-select: none;
	width: 3rem;
	height: 3rem;
	transition: transform 0.4s;
}

.right-arrow {
	order: 4;
}

.chevron svg {
	width: 100%;
	height: 100%;
}

.chevron:hover {
	transform: scale(1.2);
}

.pointer-none {
	pointer-events: none;
	opacity: 0.2;
}

@media only screen and (max-width: 720px) {
	.slides {
		width: 60%;
	}
	.slide {
		height: 50vw;
	}
}
