@font-face {
	font-family: MontserratRegular;
	src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
	font-display: swap;
}

@font-face {
	font-family: MontserratBold;
	src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf");
	font-display: swap;
}

@font-face {
	font-family: MontserratSemiBold;
	src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
	font-display: swap;
}

:root {
	--blue: #007bba;
	--blue-alternate: #0077ff;
	--blue-off: #2e8fff;
	--black: #333333;
	--black-alternate: #404040;
	--white: white;
	--dimgray: dimgray;
	--white-alternate: #fffffe;
	--white-off: #ebebeb;

	--primary: var(--blue);
	--secondary: var(--black);
	--highlight: var(--blue-alternate);
	--background-color: var(--white-alternate);
	--cup-sign: var(--white);
}

* {
	box-sizing: border-box;
	outline: none;
	font-family: MontserratRegular;
}

html {
	font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (2600 - 300)));
}

.w-100 {
	width: 100%;
}

body {
	margin: 0;
	font-family: MontserratRegular, sans-serif;
	background-color: var(--background-color);
	padding: 0 1rem;
}

.introduction {
	display: grid;
	grid-template-columns: 1fr;

	.main-heading {
		font-family: MontserratBold, sans-serif;
		color: var(--secondary);
		order: 0;
	}

	.highlight-text {
		font-family: MontserratBold, sans-serif;
		color: var(--highlight);
	}

	.description {
		color: var(--secondary);
		align-self: center;
		order: 1;
	}

	.intro-image {
		svg {
			width: 100%;
			height: 100%;
		}
		padding: 2rem;
		order: 0;
	}
}

.secondary-fill {
	fill: var(--secondary);
}

.highlight-fill {
	fill: var(--highlight);
}

.grey-fill {
	fill: var(--cup-sign);
}

.sec {
	.sec-headers {
		font-family: MontserratBold, sans-serif;
		color: var(--primary);
	}
}

.projects {
	.projects-container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 1rem;
		justify-content: flex-start;
	}
}

.skill-logos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
	.skill {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	my-svg {
		svg {
			width: 5rem;
			height: 5rem;
		}
	}

	.skill-name {
		color: var(--secondary);
	}
}

@media only screen and (min-width: 600px) {
	.introduction {
		grid-auto-flow: column;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	#paragraph-description {
		order: 0;
	}

	.main-heading {
		align-self: center;
	}

	.intro-image {
		grid-row: 1 / span 2;
		svg {
			width: 90%;
			margin: auto;
		}
	}

	.skill-logos {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 1005px) {
	.projects-container {
		justify-content: space-between !important;
		gap: 2.5rem !important;
	}
	body {
		padding: 2rem 3rem;
	}

	.skill-logos {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media only screen and (min-width: 1440px) {
	body {
		padding: 0 9%;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: var(--blue);
		--secondary: var(--black);
		--highlight: var(--blue-alternate);
		--background-color: var(--white-alternate);
		--cup-sign: var(--white);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: var(--white-off);
		--secondary: var(--white-alternate);
		--highlight: var(--blue-off);
		--background-color: var(--black-alternate);
		--cup-sign: var(--dimgray);
	}
}
