@font-face {
	font-family: MontserratRegular;
	src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
	font-display: swap;
}

@font-face {
	font-family: MontserratBold;
	src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf");
	font-display: swap;
}

@font-face {
	font-family: MontserratSemiBold;
	src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
	font-display: swap;
}

:root {
	--blue: #007bba;
	--blue-alternate: #0077ff;
	--blue-off: #2e8fff;
	--black: #333333;
	--black-alternate: #404040;
	--white: white;
	--dimgray: dimgray;
	--white-alternate: #fffffe;
	--white-off: #ebebeb;

	--primary: var(--blue);
	--secondary: var(--black);
	--highlight: var(--blue-alternate);
	--background-color: var(--white-alternate);
	--cup-sign: var(--white);
}

* {
	box-sizing: border-box;
	outline: none;
	font-family: MontserratRegular;
}

html {
	font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (2600 - 300)));
}

.w-100 {
	width: 100%;
}

body {
	margin: 0;
	font-family: MontserratRegular, sans-serif;
	background-color: var(--background-color);
	padding: 0 1rem;
}

.introduction {
	display: grid;
	grid-template-columns: 1fr;

	.main-heading {
		font-family: MontserratBold, sans-serif;
		color: var(--secondary);
		order: 0;
	}

	.highlight-text {
		font-family: MontserratBold, sans-serif;
		color: var(--highlight);
	}

	.description {
		font-family: MontserratSemiBold, sans-serif;
		text-align: justify;
		color: var(--secondary);
		align-self: center;
		order: 1;
	}

	.intro-image {
		svg {
			width: 100%;
			height: 100%;
		}
		padding: 2rem;
		order: 0;
	}
}

.secondary-fill {
	fill: var(--secondary);
}

.highlight-fill {
	fill: var(--highlight);
}

.grey-fill {
	fill: var(--cup-sign);
}

.sec {
	margin: 4.5rem 0;
	.sec-headers {
		font-family: MontserratBold, sans-serif;
		color: var(--primary);
	}
}

.resume {
	text-align: center;
	button {
		cursor: pointer;
		border: none;
		padding: 1rem;
		border-radius: 10px;
		background: var(--primary);
		color: var(--background-color);
		font-size: 0.9rem;
		font-weight: 600;
		border: 1px solid var(--primary);
		&:hover {
			background: var(--background-color);
			color: var(--secondary);
		}
		transition: 0.4s;
	}
}

.projects {
	.projects-container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 1rem;
		justify-content: flex-start;
	}
}

.skill-logos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
	.skill {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	my-svg {
		svg {
			width: 5rem;
			height: 5rem;
		}
	}

	.skill-name {
		color: var(--secondary);
	}
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(128, 128, 128, 0.8);
	padding: 3rem;
	box-sizing: border-box;
	text-align: center;
	z-index: 9000;
}

.overlay-image {
	position: relative;
	z-index: 4000;
	width: auto;
	height: 100%;
}

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	flex-wrap: wrap;
	padding: 2rem;
	my-svg {
		width: 5rem;
		cursor: pointer;
		svg {
			width: 100%;
			height: 100%;
		}
		&:hover {
			transform: scale(1.2);
			transition: 0.5s;
		}
	}
}

footer {
	text-align: center;
	p {
		margin-top: 0;
	}
}

#copyright {
	color: var(--secondary);
}

@media only screen and (max-width: 720px) {
	.overlay {
		padding: 0.2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.overlay-image {
		width: 100%;
		height: auto;
	}
}

@media only screen and (min-width: 600px) {
	.introduction {
		grid-auto-flow: column;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	#paragraph-description {
		order: 0;
	}

	.main-heading {
		align-self: center;
	}

	.intro-image {
		grid-row: 1 / span 2;
		svg {
			width: 90%;
			margin: auto;
		}
	}

	.skill-logos {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 1005px) {
	.projects-container {
		justify-content: space-between !important;
		gap: 2.5rem !important;
	}
	body {
		padding: 2rem 3rem 0.2rem;
	}

	.skill-logos {
		grid-template-columns: repeat(5, 1fr);
		margin: 0 2rem;
	}
}

@media only screen and (min-width: 1440px) {
	body {
		padding: 0 9%;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: var(--blue);
		--secondary: var(--black);
		--highlight: var(--blue-alternate);
		--background-color: var(--white-alternate);
		--cup-sign: var(--white);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: var(--white-off);
		--secondary: var(--white-alternate);
		--highlight: var(--blue-off);
		--background-color: var(--black-alternate);
		--cup-sign: var(--dimgray);
	}

	.socials {
		my-svg {
			background: white;
			border-radius: 50% 50%;
			padding: 0.8rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
